body{
  padding: 20px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  background-image: url(../images/starwarsbackground.jpg);
  background-size: 100%;
}
#player{
  float:left;
}
#enemy{
  margin-left: 15px;
  float: left;
}
.hide{
  display: none;
}
.clear{
  clear: both;
}
